<form action="/api/productos" method="post" class="form-group">
    <div>
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" class="input-form"><br>
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" id="price" class="input-form"><br>
    </div>
    <div>
        <label for="thumbnail">Thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail" class="input-form"><br>
    </div>
    <input type="submit" value="Agregar producto" class="submit-button">
</form>